* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
h1,
h2 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
}

/* Header */
.header__top .money ul,
.header__main .pages ul,
.header__main .collection div.content {
  visibility: hidden;
  transition-timing-function: linear;
}

.header__top .money:hover ul,
.header__main .pages:hover ul,
.header__main .collection:hover div.content {
  top: 80%;
  opacity: 1;
  visibility: visible;
}

.header__main .collection:hover span,
.header__main .pages:hover span {
  color: #4e97fd;
}
